

<div class="container">
  <form action="/answer">
<div class="input-group mb-3">
    <input class="form-control" type="text" name="ask" placeholder= "ask somethig" aria-describedby="submit-addon2">
    <input class="btn btn-primary" type="submit" value="Ask!" id="button-addon2">
</div>
  </form>
</div>
