.text {
  margin: 8px;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  border-style: solid;
  box-shadow: 3px 3px black;
  width: max-content;
}

#answer {
  background-color: #ffffe1
}
